[Unit]
Description=Discord Announcer for when Picarto streamers go online. Ran by Melo.
After=network.target

[Service]
Type=simple
User=melo
ExecStart=/home/melo/DiscordPicartoAnnouncer/venv/bin/python3 picartoAlertWebhooker.py
WorkingDirectory=/home/melo/DiscordPicartoAnnouncer
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
